1. What are data structures, and why are they important?
Data structures are ways of organizing and storing data in a computer so that it can be accessed and modified efficiently. Think of them as tools or containers specifically designed to handle data in a certain way, depending on what you need to do with it.

2.  Explain the difference between mutable and immutable data types with examples?
Mutable objects: Can be changed after creation.
You can modify, add, or remove elements without creating a new object.
Ex:- list, dict, set.

In [1]:
my_list = [1, 2, 3]
my_list.append(4)  # Add element
print(my_list)

[1, 2, 3, 4]

immutable objects : These cannot be changed after creation 
Any "change" actually creates a new object
Ex:- Tuple,String,int ,float

In [2]:
name = "John"
name = name.upper()
print(name)

JOHN

3. What are the main differences between lists  and tuples in Python ?
The main difference between tupple  is used as immutable
List is used as mutable

4. Describe how dictionaries store data 
A dictionary is an unordered collection of data stored in key value pairs

In [3]:
my_dict = {"name": "Alice", "age": 25, "city": "New York"}

Keys: Unique identifiers (e.g., "name", "age")

Values: The data associated with each key (e.g., "Alice", 25)

Hashing:
When you create a dictionary, Python uses a hash function to convert each key into a unique integer called a hash code.

In [4]:
person = {
    "name": "John",
    "age": 30,
    "is_student": False
}
print(person["name"])

John

5.Why might you use a set instead of a list in Python
A set is a collection of unique elements, meaning it automatically removes duplicates. It also offers faster performance when checking if an item exists because it uses a hash table internally.

In [5]:
my_list = [1, 2, 2, 3]
my_set = set(my_list)
print(my_set)

{1, 2, 3}

6.What is a string in Python, and how is it different from a list?
A string is a sequence of characters, while a list is a sequence of items, which can be any type (numbers, strings, etc.).
String is immutable: You cannot change a string after it's created.
List is mutable: You can add, remove, or change elements.

7. How do tuples ensure data integrity in Python?
Tuples are immutable, so once created, their values can’t be changed. This ensures that the data stored in the tuple stays constant throughout the program.
You want to protect data from accidental modification.
You want to use it as a dictionary key.

8. What is a hash table, and how does it relate to dictionaries in Python?
A hash table is a data structure that uses hash functions to map keys to memory locations (indexes). In Python, dictionaries are implemented using hash tables.
This allows for O(1) average time complexity for lookups, insertions, and deletions.

9. Can lists contain different data types in Python?
Yes, Python lists are heterogeneous, meaning they can store different data types in the same list.
Ex: int, float,string,boolean

10.Explain why strings are immutable in Python?
Strings are immutable for several reasons:
Security: Prevents accidental modification.
Performance: Python can reuse string objects, saving memory.
Hashability: Makes strings usable as keys in dictionaries.

11. What advantages do dictionaries offer over lists for certain tasks?
Dictionaries are great for storing key-value pairs, allowing for fast and meaningful lookups.

Advantages:
Quick access via keys
Better for structured or labeled data

In [ ]:
12. Describe a scenario where using a tuple would be preferable over a list.
Use a tuple when:
You want to return multiple values from a function.
You need data to remain unchanged.

13. How do sets handle duplicate values in Python?
Sets automatically remove duplicates and keep only unique values.

In [ ]:
14. How does the in keyword work differently for lists and dictionaries?
In lists, in checks if a value exists.
In dictionaries, in checks if a key exists.

In [9]:
"apple" in ["apple", "banana"]      # True
"age" in {"name": "Bob", "age": 30} # True (checks keys, not values)

True

15. Can you modify the elements of a tuple? Explain why or why not.
 No, tuples are immutable, meaning once created, their elements cannot be changed.

16. What is a nested dictionary, and give an example of its use case?
A nested dictionary is a dictionary within another dictionary, used to represent more complex structured data.

In [12]:
students = {
    "Alice": {"age": 20, "grade": "A"},
    "Bob": {"age": 22, "grade": "B"}
}

In [ ]:
17. Describe the time complexity of accessing elements in a dictionary.
Accessing a value by key in a dictionary takes O(1) time on average, due to the use of hashing.
This makes dictionaries very efficient for lookups.

In [ ]:
18. In what situations are lists preferred over dictionaries?
Use lists when:
The order of items matters.
You only need indexed data, not key-value pairs.
Data doesn’t need labels (e.g., [5, 6, 7] instead of {day1: 5})

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
Traditionally, dictionaries didn’t maintain insertion order (before Python 3.7). While modern Python preserves order, dictionaries still don't support index-based access like lists.
 Retrieval is done by key, not by position.

20. Explain the difference between a list and a dictionary in terms of data retrieval
List: Retrieve by index (numeric position).

In [13]:
my_list = [10, 20, 30]
print(my_list[1])

20

Dictionary: Retrieve by key (label).
Dictionaries provide more contextual access (e.g., "name", "age"), while lists rely on position.

In [14]:
my_dict = {"a": 10, "b": 20}
print(my_dict["b"])

20

1. Write a code to create a string with your name and print it.

In [15]:
name = "sahana haryadi"
print(name)

sahana haryadi

2. Write a code to find the length of the string "Hello World"

In [16]:
print(len("Hello World"))

11

3. Write a code to slice the first 3 characters from the string "Python] Programming".

In [17]:
s = "Python] Programming"
print(s[:3])

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [18]:
print("hello".upper())

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [19]:
print("I like apple".replace("apple", "orange"))

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [20]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [21]:
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [22]:
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [23]:
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [24]:
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [25]:
tpl = (100, 200, 300)
print(tpl)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [26]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [27]:
tpl = (10, 20, 5, 15)
print(min(tpl))

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [28]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [29]:
fruits = ("apple", "banana", "cherry")
print("kiwi" in fruits)

False

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [30]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'c', 'b'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [31]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [32]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [33]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [34]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [35]:
person = {"name": "pulla", "age": 39, "city": "New York"}
print(person)

{'name': 'pulla', 'age': 39, 'city': 'New York'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [36]:
person = {"name": "John", "age": 25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [37]:
person = {"name": "Alice", "age": 30}
print(person["name"])

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [42]:
person = {"name": "Bob", "age": 22, "city": "New York"}
del person["age"]
print(person)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [39]:
person = {"name": "Alice", "city": "Paris"}
print("city" in person)

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [40]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 1, "b": 2}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'a': 1, 'b': 2}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.

In [43]:
import random
rand_list = [random.randint(1, 100) for _ in range(5)]
rand_list.sort()
print(rand_list)

[26, 29, 38, 75, 94]

28. Write a code to create a list with strings and print the element at the third index.

In [44]:
words = ["apple", "banana", "cherry", "date", "elderberry"]
print(words[3])

date

29. Write a code to combine two dictionaries into one and print the result.

In [ ]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined = {**dict1, **dict2}
print(combined)

30. Write a code to convert a list of strings into a set.

In [ ]:
string_list = ["apple", "banana", "cherry", "apple"]
string_set = set(string_list)
print(string_set)